<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Twoja lodówka</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- pasek górny -->
  <header class="top-bar">
    <img src="{{ url_for('static', filename='SmartFridgelogo.jpg') }}" alt="Logo" class="logo-img" />
    
    <!-- hamburger (dla małych urządzeń) -->
    <div class="hamburger" onclick="toggleMenu()">☰</div>
    <nav class="nav-links" id="navLinks">
      <a href="{{ url_for('dashboard') }}" class="nav-btn">Twoja lodówka</a>
      <a href="{{ url_for('add-product') }}" class="nav-btn">Dodaj produkt</a>
      <a href="{{ url_for('recipes') }}" class="nav-btn">Dostępne przepisy</a>
      <a href="{{ url_for('notifications') }}" class="nav-btn">Powiadomienia</a>
      <a href="{{ url_for('wyloguj') }}" class="nav-btn logout">Wyloguj się</a>
    </nav>
  </header>

  <div class="layout-wrapper">
    <div class="fridge-and-panel">

      <div class="fridge-section">
        <div class="fridge-wrapper">
            <img src="{{ url_for('static', filename='fridge.jpg') }}" alt="Fridge" class="fridge-img" />

          <div class="inside-fridge">
            <div class="inside-fridge-background">
              <h2 class="welcome-message">Witaj użytkowniku</h2>
              <input type="text" id="filterInput" placeholder="🔍 Wyszukaj produkt..." />
              <input type="number" id="maxGrams" placeholder="📦 Max gramatura (g)" />
            </div>
          </div>
        </div>
      </div>
      <div class="extra-panel" id="extraPanel">
        <!-- Produkty ładowane przez JS -->
      </div>

    </div>
  </div>

  <script src="dashboard.js"></script>
</body>
</html>
