<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Powiadomienia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
  <header class="top-bar">
    <img src="{{ url_for('static', filename='img/SmartFridgelogo.jpg') }}" alt="Logo" class="logo-img" />
    
    <div class="hamburger" onclick="toggleMenu()">☰</div>
    <nav class="nav-links" id="navLinks">
      <a href="{{ url_for('dashboard.dashboard') }}"><button class="nav-btn">Twoja lodówka</button></a>
      <a href="{{ url_for('dashboard.add_product') }}"><button class="nav-btn">Dodaj produkt</button></a>
      <a href="{{ url_for('dashboard.recipes') }}"><button class="nav-btn">Dostępne przepisy</button></a>
      <a href="{{ url_for('dashboard.notifications') }}"><button class="nav-btn">Powiadomienia</button></a>
      <a href="{{ url_for('auth.logout') }}"><button class="nav-btn logout">Wyloguj się</button></a>
    </nav>
  </header>

  <main class="container">
    <h2 class="section-title">Powiadomienia o produktach</h2>
    <div id="notificationsList"></div>
  </main>

  <!-- Modal komunikatu -->
  <div id="modalOverlay"></div>
  <div id="modalMessage"></div>

  <script src="{{ url_for('static', filename='notificatons.js') }}"></script>
</body>
</html>
