<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ product.name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head> 

<body data-dashboard-url="{{ url_for('dashboard.dashboard') }}">

  <header class="top-bar">
    <a href="{{ url_for('dashboard.dashboard') }}">
      <img src="{{ url_for('static', filename='img/SmartFridgelogo.jpg') }}" alt="Logo" class="logo-img" />
    </a>

    <div class="hamburger" onclick="toggleMenu()">☰</div>
    
    <nav class="nav-links" id="navLinks">
      <a href="{{ url_for('dashboard.dashboard') }}"><button class="nav-btn">Twoja lodówka</button></a>
      <a href="{{ url_for('dashboard.add_product') }}"><button class="nav-btn">Dodaj produkt</button></a>
      <a href="{{ url_for('dashboard.recipes') }}"><button class="nav-btn">Dostępne przepisy</button></a>
      <a href="{{ url_for('dashboard.notifications') }}"><button class="nav-btn">Powiadomienia<span id="notifBadge" class="badge" style="display: none;"></span></button></a>
      <a href="{{ url_for('auth.logout') }}"><button class="nav-btn logout">Wyloguj się</button></a>
    </nav>
  </header>
  
  <div class="product-card background-container" style="background-image: url('{{ image_url }}');">
    <div class="background-overlay"></div>
    <div class="product-content">
    <h2>{{ product.name }}</h2>
    <div class="progress-bar" data-expiry="{{ product.expiry_date }}">
      <div class="progress">Wczytywanie...</div>
    </div>    

    <div class="nutrition">
      <div><strong>Białko: </strong>{{ nutrition.protein or 'Brak danych' }} g</div>
      <div><strong>Tłuszcze: </strong>{{ nutrition.fat or 'Brak danych' }} g</div>
      <div><strong>Węglowodany: </strong>{{ nutrition.carbs or 'Brak danych' }} g</div>
      <div><strong>Kalorie: </strong>{{ nutrition.calories or 'Brak danych' }} kcal</div>
        <small>(wartości na 100g produktu)</small>
    </div>

    <div class="expiry-date">
      <strong>Data ważności:</strong> {{ product.expiry_date or 'Brak daty ważności' }}
    </div>

    <div class="button-group">
    <button class="btn-product-details" id="deleteBtn" data-product-name="{{ product.name }}">Zjedzono/usuń</button>
    <a href="{{ url_for('dashboard.dashboard') }}" class="btn-product-details">Powrót</a>
    </div>

  <div id="productDetails" style="margin-top: 1em; color: red; font-weight: bold;"></div>

  <div id="modalMessage" style="display:none;">Produkt został usunięty</div>
  <div id="modalOverlay" style="display:none;"></div>

  <script src="{{ url_for('static', filename='product.js') }}"></script>
</body>
</html>
