<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Przepisy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- pasek górny -->
  <header class="top-bar">
    <img src="{{ url_for('static', filename='SmartFridgelogo.jpg') }}" alt="Logo" class="logo-img" />
    <div class="hamburger" onclick="toggleMenu()">☰</div>
    <nav class="nav-links" id="navLinks">
      <a href="{{ url_for('dashboard') }}" class="nav-btn">Twoja lodówka</a>
      <a href="{{ url_for('add-product') }}" class="nav-btn">Dodaj produkt</a>
      <a href="{{ url_for('recipes') }}" class="nav-btn">Dostępne przepisy</a>
      <a href="{{ url_for('notifications') }}" class="nav-btn">Powiadomienia</a>
      <a href="{{ url_for('wyloguj') }}" class="nav-btn logout">Wyloguj się</a>
    </nav>
  </header>

  <div class="recipe-section">
    <h2>Przepisy</h2>

    {% for recipe in recipes %}
    <div class="recipe-card">
      <div class="recipe-text">
        <h3>{{ recipe.title }}</h3>
        <p>Czas: {{ recipe.prep_time + recipe.cook_time }} minut</p>
        <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">
          <button class="btn-secondary">Zobacz przepis</button>
        </a>
      </div>
      <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}" class="recipe-img" />
    </div>
    {% endfor %}

    <button class="button full-width">Więcej</button>
  </div>

  <script>
    function toggleMenu() {
      document.getElementById('navLinks').classList.toggle('open');
    }
  </script>
</body>
</html>
