<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rejestracja</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body>
  <div class="top-bar">
    <img src="{{ url_for('static', filename='img/SmartFridgelogo.jpg') }}" alt="Smart Fridge Logo" class="logo-img" />
  </div>

  <div class="login-wrapper">
    <div class="login-box">
      <h2 class="global-title">Rejestracja</h2>
      <form method="POST">
        {{ form.hidden_tag() }}

        <label for="username">Nazwa użytkownika:</label>
        {{ form.username(class="form-input", id="username") }}
        {% for error in form.username.errors %}
          <span style="color:red;">{{ error }}</span>
        {% endfor %}

        <label for="password">Podaj hasło:</label>
        {{ form.password(class="form-input", id="password") }}
        {% for error in form.password.errors %}
          <span style="color:red;">{{ error }}</span>
        {% endfor %}

        <label for="confirm_password">Potwierdź hasło:</label>
        {{ form.confirm_password(class="form-input", id="confirm_password") }}
        {% for error in form.confirm_password.errors %}
          <span style="color:red;">{{ error }}</span>
        {% endfor %}

        {{ form.submit(class="btn-primary") }}

        <p class="login-footer">
          Masz już konto?<br />
          <a href="{{ url_for('auth.login') }}">Zaloguj się tutaj</a>
        </p>
      </form>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <p class="form-error-message">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
</body>
</html>
