<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Losowe przepisy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- pasek górny -->
  <header class="top-bar">
    <img src="SmartFridgelogo.jpg" alt="Logo" class="logo-img" />

    <!-- hamburger (dla małych urządzeń)) -->
    <div class="hamburger" onclick="toggleMenu()">☰</div>

    <!-- przyciski menu -->
    <nav class="nav-links" id="navLinks">
      <button class="nav-btn">Twoja lodówka</button>
      <button class="nav-btn">Dodaj produkt</button>
      <button class="nav-btn">Dostępne przepisy</button>
      <button class="nav-btn">Powiadomienia</button>
      <button class="nav-btn logout">Wyloguj się</button>
    </nav>
  </header>
    <div class="recipe-section">
        <h2>Przepisy</h2>

        <div class="recipe-card">
            <div class="recipe-text">
                <h3>Smoothie z bananem</h3>
                <p>Czas: 10 minut | Składników: 4</p>
                <button class="btn-secondary">Zobacz przepis</button>
            </div>
            <img src="banana-smoothie.jpg" alt="Smoothie z bananem">
        </div>

        <div class="recipe-card">
            <div class="recipe-text">
                <h3>Smoothie z bananem</h3>
                <p>Czas: 10 minut | Składników: 4</p>
                <button class="btn-secondary">Zobacz przepis</button>
            </div>
            <img src="banana-smoothie.jpg" alt="Smoothie z bananem">
        </div>

        <div class="recipe-card">
            <div class="recipe-text">
                <h3>Smoothie z bananem</h3>
                <p>Czas: 10 minut | Składników: 4</p>
                <button class="btn-secondary">Zobacz przepis</button>
            </div>
            <img src="banana-smoothie.jpg" alt="Smoothie z bananem">
        </div>

        <div class="recipe-card">
            <div class="recipe-text">
                <h3>Smoothie z bananem</h3>
                <p>Czas: 10 minut | Składników: 4</p>
                <button class="btn-secondary">Zobacz przepis</button>
            </div>
            <img src="banana-smoothie.jpg" alt="Smoothie z bananem">
        </div>

        <button class="button full-width">Więcej</button>
    </div>
    <script>
      function toggleMenu() {
      document.getElementById('navLinks').classList.toggle('open');
      }
  </script>
</body>
</html>
